{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} Melon POS panel {% endblock %}

{% block content %}

<main class="page-content">
    <div class="d-flex justify-content-between">
        <h4 class="d-inline-flex">Melon Beauty Salon POS system</h4>
        <p id="live-datetime" class="d-inline-flex">Loading...date/time</p>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 row-cols-xxl-4">
        <div class="col">
            <div class="card radius-10 bg-gradient-warning">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-1">Today revenue</p>
                            <h4 class="mb-0 text-primary">
                                $ {% if todayRevenueValue %} {{ todayRevenueValue }} {% else %} 0.00 {% endif %}
                            </h4>
                        </div>
                        <div class="ms-auto fs-2 text-primary">
                            <img src="{% static 'assets/images/icons/pos-revenue.png'%}" alt="revenue"
                                class="icon-badge">
                        </div>
                    </div>
        
                    <hr class="my-2">
                    {% if percentageRevenue > 0 %}
                        <small class="mb-0"><i class="bi bi-arrow-up"></i> <span>+{{percentageRevenue|floatformat:2}}% from yesterday</span></small>
                    {% elif percentageRevenue < 0 %}
                        <small class="mb-0"><i class="bi bi-arrow-down"></i> <span>{{percentageRevenue|floatformat:2}}% from yesterday</span></small>
                    {% elif percentageRevenue == 0 %}
                        <small class="mb-0"><i class="bi bi-plus-slash-minus"></i> <span>0.0% from yesterday</span></small>
                    {%endif%}
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card radius-10">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-1">CASH</p>
                            <h4 class="mb-0 text-primary">
                                $ {% if todayCash %} {{ todayCash }} {% else %} 0.00 {% endif %}
                            </h4>
                        </div>
                        <div class="ms-auto fs-2 text-primary">
                            <img src="{% static 'assets/images/icons/pos-cash.png'%}" alt="cash" class="icon-badge">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card radius-10">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-1">PAYNOW</p>
                            <h4 class="mb-0 text-primary">
                                $ {% if todayPaynow %} {{ todayPaynow }} {% else %} 0.00 {% endif %}
                            </h4>
                        </div>
                        <div class="ms-auto fs-2 text-primary">
                            <img src="{% static 'assets/images/icons/pos-paynow.png'%}" alt="paynow"
                                class="icon-badge">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card radius-10">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-1">Credit card</p>
                            <h4 class="mb-0 text-primary">
                                $ {% if todayCreditCard %} {{ todayCreditCard }} {% else %} 0.00 {% endif %}
                            </h4>
                        </div>
                        <div class="ms-auto fs-2 text-primary">
                            <img src="{% static 'assets/images/icons/pos-creditcard.png'%}" alt="credit card"
                                class="icon-badge">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card radius-10">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-1">Nets</p>
                            <h4 class="mb-0 text-primary">
                                $ {% if todayNets %} {{ todayNets }} {% else %} 0.00 {% endif %}
                            </h4>
                        </div>
                        <div class="ms-auto fs-2 text-primary">
                            <img src="{% static 'assets/images/icons/pos-nets.png'%}" alt="nets" class="icon-badge">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card radius-10">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-1">Grab</p>
                            <h4 class="mb-0 text-primary">
                                $ {% if todayGrab %} {{ todayGrab }} {% else %} 0.00 {% endif %}
                            </h4>
                        </div>
                        <div class="ms-auto fs-2 text-primary">
                            <img src="{% static 'assets/images/icons/pos-grab.png'%}" alt="grab" class="icon-badge">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card radius-10">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-1">Package</p>
                            <h4 class="mb-0 text-primary">
                                $ {% if todayPackage %} {{ todayPackage }} {% else %} 0.00 {% endif %}
                            </h4>
                        </div>
                        <div class="ms-auto fs-2 text-primary">
                            <img src="{% static 'assets/images/icons/pos-package.png'%}" alt="package"
                                class="icon-badge">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card radius-10">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-1">Credit service</p>
                            <h4 class="mb-0 text-primary">
                                $ {% if todayInStoreCredit %} {{ todayInStoreCredit }} {% else %} 0.00 {% endif %}
                            </h4>
                        </div>
                        <div class="ms-auto fs-2 text-primary">
                            <img src="{% static 'assets/images/icons/pos-instorecredit.png'%}" alt="credit service"
                                class="icon-badge">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card radius-10">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-1">REFUND</p>
                            <h4 class="mb-0 text-primary">
                                $ {% if todayRefund %} {{ todayRefund }} {% else %} 0.00 {% endif %}
                            </h4>
                        </div>
                        <div class="ms-auto fs-2 text-primary">
                            <img src="{% static 'assets/images/icons/pos-refund.png'%}" alt="refund"
                                class="icon-badge">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card radius-10 bg-gradient-success">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-1">Beauty department</p>
                            <h4 class="mb-0 text-primary">
                                $ {% if todayBeauty %} {{ todayBeauty }} {% else %} 0.00 {% endif %}
                            </h4>
                        </div>
                        <div class="ms-auto fs-2 text-primary">
                            <img src="{% static 'assets/images/icons/makeup.png'%}" alt="beauty"
                                class="icon-badge">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card radius-10 bg-gradient-success">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-1">Hair department</p>
                            <h4 class="mb-0 text-primary">
                                $ {% if todayHair %} {{ todayHair }} {% else %} 0.00 {% endif %}
                            </h4>
                        </div>
                        <div class="ms-auto fs-2 text-primary">
                            <img src="{% static 'assets/images/icons/hairdresser.png'%}" alt="hair"
                                class="icon-badge">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card radius-10 bg-gradient-success">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-1">Health department</p>
                            <h4 class="mb-0 text-primary">
                                $ {% if todayHealth %} {{ todayHealth }} {% else %} 0.00 {% endif %}
                            </h4>
                        </div>
                        <div class="ms-auto fs-2 text-primary">
                            <img src="{% static 'assets/images/icons/better-health.png'%}" alt="health"
                                class="icon-badge">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card radius-10 bg-gradient-success">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-1">Hair product</p>
                            <h4 class="mb-0 text-primary">
                                $ {% if todayHairProduct %} {{ todayHairProduct }} {% else %} 0.00 {% endif %}
                            </h4>
                        </div>
                        <div class="ms-auto fs-2 text-primary">
                            <img src="{% static 'assets/images/icons/pos-products.png'%}" alt="health"
                                class="icon-badge">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card radius-10 bg-gradient-success">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="">
                            <p class="mb-1">Beauty product</p>
                            <h4 class="mb-0 text-primary">
                                $ {% if todayBeautyProduct %} {{ todayBeautyProduct }} {% else %} 0.00 {% endif %}
                            </h4>
                        </div>
                        <div class="ms-auto fs-2 text-primary">
                            <img src="{% static 'assets/images/icons/pos-products.png'%}" alt="health"
                                class="icon-badge">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <hr>
    <div>
        <h5>New transaction</h5>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {# SaleServices Formset #}
            {{ sale_service_formset.management_form }}
            <div id="services-container" class="border border-success p-2 rounded border-3">
                <span>Services</span>
                <hr>
                <!--Empty form template to reference and copy-->
                <div id="empty-form" style="display:none;">
                    <div class="service-form">
                        <div class="row">
                            <div class="col">
                                <label for="{{ sale_service_formset.empty_form.department.label }}" class="form-label">{{ sale_service_formset.empty_form.department.label }}</label>
                                {{ sale_service_formset.empty_form.department|add_class:"form-control" }}
                                <span class="fs-6 text-danger">{{ sale_service_formset.empty_form.department.errors }}</span>
                            </div>
                
                            <div class="col">
                                <label for="{{ sale_service_formset.empty_form.service_name.label }}" class="form-label">{{ sale_service_formset.empty_form.service_name.label }}</label>
                                {{ sale_service_formset.empty_form.service_name|add_class:"form-control" }}
                                <span class="fs-6 text-danger">{{ sale_service_formset.empty_form.service_name.errors }}</span>
                            </div>
                
                            <div class="col">
                                <label for="{{ sale_service_formset.empty_form.service_price.label }}" class="form-label">{{ sale_service_formset.empty_form.service_price.label }}</label>
                                {{ sale_service_formset.empty_form.service_price|add_class:"form-control service-price" }}
                                <span class="fs-6 text-danger">{{ sale_service_formset.empty_form.service_price.errors }}</span>
                            </div>

                            <div class="d-flex flex-row-reverse m-2">
                                <span class="m-2">Tick to delete this service</span>{{ sale_service_formset.empty_form.DELETE|add_class:"service-delete-field" }}
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                
                {% for service_form in sale_service_formset %}
                <div class="service-form">
                    <div class="row">
                        <div class="col">
                            <label for="{{service_form.department.label}}"
                                class="form-label">{{service_form.department.label}}</label>
                            {{service_form.department|add_class:"form-control"}}
                            <span class="fs-6 text-danger">{{service_form.department.errors}}</span>
                        </div>

                        <div class="col">
                            <label for="{{service_form.service_name.label}}"
                                class="form-label">{{service_form.service_name.label}}</label>
                            {{service_form.service_name|add_class:"form-control"}}
                            <span class="fs-6 text-danger">{{service_form.service_name.errors}}</span>
                        </div>

                        <div class="col">
                            <label for="{{service_form.service_price.label}}"
                                class="form-label">{{service_form.service_price.label}}</label>
                            {{service_form.service_price|add_class:"form-control service-price"}}
                            <span class="fs-6 text-danger">{{service_form.service_price.errors}}</span>
                        </div>
                    </div>

                    <div class="d-flex flex-row-reverse m-2">
                        <span class="mx-2">Tick to delete this service</span>{{ service_form.DELETE|add_class:"service-delete-field" }}
                    </div>

                    <hr>
                </div>
                {% endfor %}
            </div>
            <button type="button" id="add-service-btn" class="btn my-3 btn-info text-light">Add another service</button>
            <button type="button" onclick="calculate_total()" id="calculate_grand_total"
                class="btn mx-2 btn-info text-light">Calculate grand total</button>

            {# SalesTransaction Form #}
            <div>
                <div class="row">
                    <div class="col">
                        <label for="{{form.grand_total.label}}" class="form-label">Grand total:</label>
                        {{ form.grand_total|add_class:"form-control"|append_attr:"readonly"}}
                        <span class="fs-6 text-danger">{{form.grand_total.errors}}</span>
                    </div>
                    <div class="col">
                        <label for="{{form.payment_type.label}}" class="form-label">Payment type:</label>
                        {{ form.payment_type|add_class:"form-control" }}
                        <span class="fs-6 text-danger">{{form.payment_type.errors}}</span>
                    </div>
                </div>

                <label for="{{form.user.label}}" class="form-label">Employee:</label>
                {{form.user|add_class:"form-control"}}
                <span class="fs-6 text-danger">{{form.user.errors}}</span>

                <label for="customer" class="form-label">Customer: (can leave blank)</label>
                {{form.customer|add_class:"form-control"}}
                <span class="fs-6 text-danger">{{form.customer.errors}}</span>

                <div class="row">
                    <div class="col">
                        <label for="{{form.package_history.label}}"
                            class="form-label">{{form.package_history.label}}:</label>
                        {{form.package_history|add_class:"form-control"}}
                        <span class="fs-6 text-danger">{{form.package_history.errors}}</span>
                    </div>
                    <div class="col">
                        <label for="{{form.credit_history.label}}"
                            class="form-label">{{form.credit_history.label}}:</label>
                        {{form.credit_history|add_class:"form-control"}}
                        <span class="fs-6 text-danger">{{form.credit_history.errors}}</span>
                    </div>
                </div>

                <label for="{{form.personal_remarks.label}}" class="form-label">Personal remarks:</label>
                {{form.personal_remarks|add_class:"form-control"|attr:"rows:3"}}
                <span class="text-danger fs-6">{{form.personal_remarks.errors}}</span>
                <label for="{{form.customer_remarks.label}}" class="form-label">Customer remarks:</label>
                {{form.customer_remarks|add_class:"form-control"|attr:"rows:3"}}
                <span class="text-danger fs-6">{{form.customer_remarks.errors}}</span>
            </div>

            <button type="submit" class="btn-primary btn my-3 w-100" onclick="return confirmTransaction()">Transact</button>

        </form>



    </div>

</main>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // live_datetime.js
    function updateLiveDateTime() {
        const datetimeElement = document.getElementById('live-datetime');
        const now = new Date();
        const formattedDateTime = now.toLocaleString(); // Adjust formatting as needed
        datetimeElement.textContent = formattedDateTime;
    }

    // Update every second
    setInterval(updateLiveDateTime, 1000);

    function confirmTransaction() {
        let grandTotalValue = document.getElementById("id_grand_total").value;
        let paymentTypeValue = document.getElementById("id_payment_type").value;
        let employeeValue = document.getElementById("select2-id_user-container").getAttribute("title");

        return confirm('Grand total: ' + grandTotalValue + '\nPayment type: ' + paymentTypeValue + '\nEmployee: ' + employeeValue);
    }

    $(document).on('change', '.service-delete-field', function() {
        var serviceDiv = $(this).closest('.service-form');
        if ($(this).is(':checked')) {
            serviceDiv.hide();
        } else {
            serviceDiv.show();
        }
    });


    $(document).ready(function () {

        $('#add-service-btn').click(function() {
            const totalServiceForms = parseInt($("input[name='saleservices_set-TOTAL_FORMS']").val());
            const newServiceForm = $('#empty-form .service-form').clone();

            // Update the index in name attributes
            newServiceForm.find('input, select, textarea').each(function() {
                const name = $(this).attr('name').replace('__prefix__', totalServiceForms);
                $(this).attr('name', name);

                // Update the id attributes for input elements
                const id = $(this).attr('id').replace('__prefix__', totalServiceForms);
                $(this).attr('id', id);
            });

            // Update the for attribute for labels
            newServiceForm.find('label').each(function() {
                const newFor = $(this).attr('for').replace('__prefix__', totalServiceForms);
                $(this).attr('for', newFor);
            });

            // Append the new form to the container
            $('#services-container').append(newServiceForm);

            // Update TOTAL_FORMS for SaleServices
            $("input[name='saleservices_set-TOTAL_FORMS']").val(totalServiceForms + 1);
        });


        //Remove service button
        $('#services-container').on('click', '.remove-service-btn', function () {
            const serviceForm = $(this).closest('.service-form');
            // Set the DELETE checkbox to checked
            serviceForm.find('input[name$=-DELETE]').prop('checked', true);
            // Now hide (or remove) the form from the view
            serviceForm.hide();  // or serviceForm.remove();
        });

        // Initial setup
        toggleFields();

        // When payment type changes
        $('#id_payment_type').change(function () {
            toggleFields();
        });

        function toggleFields() {
            var paymentType = $('#id_payment_type').val();

            // Enable or disable package history based on payment type
            if (paymentType === 'package') {
                $('#id_package_history').prop('disabled', false);
            } else {
                $('#id_package_history').val(null).trigger('change').prop('disabled', true);
            }

            // Enable or disable credit history based on payment type
            if (paymentType === 'credit sales') {
                $('#id_credit_history').prop('disabled', false);
            } else {
                $('#id_credit_history').val(null).trigger('change').prop('disabled', true);

            }
        }


    });

    function calculate_total() {
        const serviceForms = document.querySelectorAll('.service-form');
        const grandTotalField = document.getElementById('id_grand_total');

        let total = 0;

        serviceForms.forEach(form => {
            const deleteCheckbox = form.querySelector('.service-delete-field');
            
            if (!deleteCheckbox) {
                console.error('Missing delete checkbox in:', form);
                return;  // Skip this iteration
            }

            if (!deleteCheckbox.checked) {
                const priceField = form.querySelector('.service-price');
                if (!priceField.disabled) {
                    const value = parseFloat(priceField.value);
                    if (!isNaN(value)) {
                        total += value;
                    }
                }
            }
        });

        grandTotalField.value = total.toFixed(2);
    }


</script>
{% endblock %}