{% extends 'base.html'%}

{% block title %}MBS|employee payslip{%endblock%}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<main class="page-content">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <div class="card">
                <div class="card-header py-3 bg-transparent d-flex flex-row justify-content-between">
                    <h5 class="mb-0">Melon -- Register customer</h5>
                    <a href="{% url 'adminCustomerOverview'%}" class="btn btn-sm btn-danger">Cancel</a>
                </div>
                <div class="card-body">
                    <div class="border p-3 rounded">
                        <form class="row g-3" method="post">
                            {% csrf_token %}
                            <div class="col-12">
                                <label class="form-label">Customer name</label>
                                {{form.name|add_class:"form-control"}}
                                <span class="text-danger">{{form.name.errors}}</span>
                            </div>
                            <div class="col-12">
                                <label class="form-label">Customer email</label>
                                {{form.email|add_class:"form-control"}}
                                <span class="text-danger">{{form.email.errors}}</span>
                            </div>
                            <div class="col-12">
                                <label class="form-label">Customer phone number</label>
                                {{form.phone_number|add_class:"form-control"}}
                                <span class="text-danger">{{form.phone_number.errors}}</span>
                            </div>
                            <div class="col-12">
                                <label class="form-label">Customer credit</label>
                                {{form.credit|add_class:"form-control"}}
                                <span class="text-danger">{{form.credit.errors}}</span>
                            </div>

                            <div class="col-12">
                                <button type="submit" class="btn btn-primary px-4 w-100">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end row-->


</main>
{%endblock%}