{% extends 'base.html' %}

{% block title %} Melon admin panel {%endblock%}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<main class="page-content">
    <h4>Banner (Frontend)</h4>
    <div class="container">
        <div class="row">
        {% for obj in objects %}
            <div class="col-lg-4 col-6 mb-4">
                <img src="{{obj.image.url}}" class="img-fluid img-thumbnail" alt="Banner">
                {% if obj.selected %}
                    <a href="#" data-id="{{obj.id}}" class="select-btn2233 btn btn-sm btn-info w-100 mt-1">Un-select</a>    
                {%else%}
                    <a href="#" data-id="{{obj.id}}" class="select-btn2233 btn btn-sm btn-info w-100 mt-1">Select</a> 
                {%endif%}
                <a href="{% url 'adminEditFrontendBanner' pk=obj.id %}" class="btn btn-success btn-sm w-100 my-1">Edit</a>
                <a href="{% url 'adminDeleteFrontendBanner' pk=obj.id %}" class="btn btn-danger btn-sm w-100 mb-1" onclick="return confirm('Confirm delete?')">Delete</a>
                <ul class="list-group mt-1">
                    <li class="list-group-item text-wrap"><span class="fw-bold">Description: </span>{{obj.description}}</li>
                </ul>
                
            </div>
        {% endfor %}

        </div>
      </div>

      <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if objects.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ objects.previous_page_number }}">Previous</a></li>
            {%endif%}
            <li class="page-item mx-2">Page {{ objects.number }} of {{ objects.paginator.num_pages }}</li>
            {% if objects.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ objects.next_page_number }}">Next</a></li>
            {%endif%}
        </ul>
      </nav>

</main>


{% endblock %}